.navbar{
    flex-wrap: wrap;
    background-color: rgb(38, 217, 223);
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
  }
  
  .footer{
    flex-wrap: wrap;
    background-color: rgb(116, 116, 204);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_content{
    height: 80vh;
  }

.h5{
  flex-wrap: wrap;
  margin-bottom: -2vh;
}
  